@import '../../colors.scss';

.container-mountain-info {
  background: $white;
  color: $black;
  font-family: 'Quicksand', sans-serif;
  padding: 2%;
  text-align: justify;
}

.header-mountain-info {
  padding-left: 3%;
  padding-top: 3%;
}

.stats {
  padding: 3%;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

.my-notes {
  font-size: 1rem;
  padding-top: 2%;
}
