.hero-image {
  background-image: url('./homepage2.jpg');
  background-size: cover;
  height: 900px;
}

.heading {
  font-family: 'Quicksand', sans-serif;
  display: block;
  padding: 30px;
  position: fixed;
  left: 5%;
  top: 10%;
  text-align: left;

  h1 {
    color: #4a4a4a;
    font-size: 3.5rem;
    font-weight: 600;
  }
  h3 {
    color: #4a4a4a;
    font-size: 2rem;
  }
}
