@import '../../../colors.scss';

.auth-form-change-password {
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  height: 400px;
  margin: 5%;
  max-width: 600px;
  color: $white;
  border-radius: 15px;
  padding: 5%;
  text-align: left;
  width: 50%;
  font-family: 'Quicksand', sans-serif;

  h3,
  input {
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 2%;
    font-family: 'Quicksand', sans-serif;
  }

  button {
    font-family: 'Quicksand', sans-serif;
    align-self: center;
    max-width: 200px;
    background-color: $charcoal;
  }
}
