body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

.card-actions {
  text-align: center;
}

.see-more {
  margin-left: auto;
  padding-bottom: 15px;
  align-self: flex-end;
}

.summit-button {
  height: 50px;
}

.MuiCardContent-root-71 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
